/* style.css */

body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#google-logo {
    width: 100%;
    max-width: 450px; 
    margin-bottom: 50px;
}

#search-bar {
    width: 46%;
    padding: 07px;
    font-size: 20px;
    border: 4px solid #ccc;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 10px; 
}

#search-container button {
    background-color: #161816;
    color: #fff;
    height: 46px;
    width: 8%;
    font-size: 18px;
    border-radius: 27px;
    text-align: center;
}

.resultado-busca {
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.resultado-busca button {
    margin-right: 5px;
    padding: 8px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinhado à direita */
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-input, .btn-textarea {
    width: 90%;
    padding: 4px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 26px;
    margin-top: 0px;
    margin-bottom: -5px;
    text-align: center;
    margin-right: 10px;
}

.btn-textarea {
    width: 81%;
    max-width: 394px;
    margin-top: 11px;
    padding: 19px;
    font-size: 4px;
    border-radius: 17px;
    text-align: center;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 44px;
    font-size: 13px;
    text-align: center;
}

.btn-add:hover {
    background-color: #45a049;
}

#add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    position: fixed;
    height: 44px;
    font-size: 13px;
    text-align: center;
    bottom: 20px;
    right: 20px;
}

#add-button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    #search-container {
        max-width: 100%;
    }
    #search-bar, #search-container button {
        width: 100%;
    }

    .btn-container {
        width: 100%;
    }

    .btn-input, .btn-textarea {
        width: 100%;
    }
}
